

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Scheherazade New', serif;
}

img {
  max-width: 100%;
}

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.mobile_body {
  width: 700px;
  height: 100vh;
  margin-top: 50px;
  position: relative;
}

.frame {}

.screen {
  position: relative;
  top: -660px;
  left: 199px;
  width: 307px;
  height: 586px;
  background-image: url("../img/HD-wallpaper-ios-14-android-apple-imac-ipad-iphone-macbook.jpg");
  border-radius: 28px;
  background-repeat: no-repeat;
  background-position: center center;
}

.font-camera {
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  left: 128px;
  top: 10px;
}

.font-camera::after {
  position: absolute;
  width: 49px;
  height: 20px;
  background: rgb(0, 0, 0);
  content: "";
  left: 26px;
  border-radius: 7px;
}

.bottom.menu {
  position: absolute;
  top: 504px;
  text-align: center;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 22px;
  padding: 9px;
  width: 293px;
  margin: auto;
  left: 7px;
}

.bottom.menu img {
  width: 45px;
  margin-right: 6px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.bottom.menu img:hover {
  width: 44px;
}

.apps {
  position: absolute;
  top: 419px;
  left: 14px;
  width: 55px;
  background: crimson;
  padding: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-family: cursive;
  height: 55px;
  text-align: center;
  cursor: pointer;
}
.quiz-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 307px;
  height: 586px;
  border-radius: 28px;
  z-index: 1;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
  overflow: hidden;
}
.show {
  opacity: 1;
  pointer-events: auto;
}

/* Quiz app Css  Start*/

/* Deafult Premade css start*/
.btn1{
  border: none;
  outline: none;
  padding: 10px 18px;
  border-radius: 35px 0px 0px 0px;
  font-size: 14px;
  font-weight: 700;
  background: #06cff2;
  color: #fff;
  font-family: 'Poppins';
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.btn1:hover {
  background: #ff6027;
}
.btn2{
  border: none;
  outline: none;
  padding: 10px 23px;
  border-radius: 0px 35px 0px 0;
  font-size: 14px;
  font-weight: 700;
  background: #06cff2;
  color: #fff;
  font-family: 'Poppins';
  cursor: pointer;
  transition: .5s;
}
.btn2:hover {
    background: red;
}
/* Deafult Premade css End*/

.quiz-screen.show {
  background: #141933;
  position: relative;
}
.quizText {
  color: #fff;
  width: 90%;
  margin: auto;
}


.quizText h4 {
  font-size: 20px;
  font-weight: 700;
}

.quizText p {
  font-size: 16px;
  line-height: 29px;
}

.quizButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* rulesBox Css */
.myQuizApp.hide{
  display: none;
}
.rulesBox{
  display: none;
}
.rulesBox.active{
  display: block;
  z-index: 999;
}
.rulesTitle {
  width: 90%;
  margin: auto;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  padding-bottom: 17px;
  text-align: center;
}

.rulesList {
  color: #fff;
  width: 80%;
  margin: auto;
}
.rulesList li {
  font-size: 20px;
  padding: 5px 0;
}
.separator {
  width: 100%;
  height: 1px;
  background: #7b7171;
}
.rulesButton {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

/* Question Section */
.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 90%;
  margin: auto;
  margin-top: 11px;
  padding-bottom: 12px;
}

.questionLeft span {
  font-size: 20px;
  font-weight: 600;
}

.secends {
  background: #06cff2;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #06cff2;
}
.secends h4 {
  display: inline-block;
  padding-right: 10px;
}

.secends span {
  background: #141933;
  padding: 0 12px;
}
.secends h4 {
  display: inline-block;
  padding-right: 5px;
  font-weight: 600;
}

.secends span {
  background: #141933;
  padding: 0 11px;
  border-radius: 5px;
  font-weight: 700;
}   
.questions{
  display: none;
  z-index: 991;
}
.questions.active{
  display: block;
}
.questionSection {
    color: #fff;
    width: 90%;
    margin: auto;
    margin-top: 26px;
    padding-bottom: 26px;
}

.myquestion {
    font-size: 26px;
    font-weight: 600;
}

.options {
    border: 1px solid #06cff2;
    padding: 10px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #06cff240;
    transition: .2s ease;
    border-radius: 5px;
}

.question_Right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.question_Right button {
    padding: 7px 35px;
    font-size: 18px;
}

.question_left {
    color: #fff;
    position: absolute;
    bottom: 4px;
    left: 17px;
    font-weight: 600;
    font-size: 19px;
}
.options:hover {
    background: #06cff2;
    font-weight: 600;
}